body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  color: #838788;
}

a {
  color: #838788;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: linear-gradient(to right, #494f4f, gray);
  background-color: #494f4f;
  border-radius: 3%;
}

.profile-img {
  margin: 20px 5px 20px 20px;
  border-radius: 50%;
}

header h1 {
  margin-bottom: 5px;

  font-size: 36px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #6997a6;
}

div.profile {
  margin-left: 10%;
}

p.occupation {
  font-size: 20px;
  color: #6997a6;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-left {
    min-width: 300px;
    padding: 20px; 
  }

  .column-right {
    padding: 20px; 
  }

  section h2 {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, #437483, #9fb2b8);
    background-color: #6997a6;
    border-radius: 3%;
  }

  section:nth-of-type(n+2) h2 {
    margin-top: 20px;
  
    
  }
  